<p-panel header="New opportunity">
    <div class="p-grid">
        <div class="p-col-2">Description</div>
        <div class="p-col-10">
            <input pInputText type="text" [(ngModel)]="opportunity.description">
        </div>
        <div class="p-col-2">Prospectus Name</div>
        <div class="p-col-10">
            <input pInputText type="text" [(ngModel)]="opportunity.prospectusName">
        </div>
        <div class="p-col-2">Value</div>
        <div class="p-col-10">
            <input pInputText type="text" [(ngModel)]="opportunity.value">
        </div>

        <div class="p-col-10 p-offset-2">
            <button pButton type="submit" label="Add"
            (click)="newOpp()"></button>
        </div>
    </div>
</p-panel>
<br>
<p-table [value]="opportunities">
    <ng-template pTemplate="header">
        <tr>
            <th>Description</th>
            <th>Porspectus</th>
            <th>Value</th>
            <th>Delete</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-opportunity let-i="index">
        <tr>
            <td>{{ opportunity.description }}</td>
            <td>{{ opportunity.prospectusName }}</td>
            <td>{{ opportunity.value }}</td>
            <td><i (click)="deleteOpp(opportunity.id)" class="fa fa-trash"></i></td>
        </tr>
    </ng-template>
</p-table>

<p-toast>
    
</p-toast>
